*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:Arial,sans-serif;
    background:#f5f7fb;

}

nav{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 60px;

    background:#0f62fe;
    color:white;

}

nav ul{

    display:flex;
    list-style:none;
    gap:30px;

}

.hero{

    text-align:center;

    margin-top:100px;

}

.hero h1{

    font-size:50px;
    color:#0f62fe;

}

.hero p{

    width:700px;

    margin:30px auto;

    font-size:22px;

    color:#555;

}

button{

    padding:15px 35px;

    margin:10px;

    border:none;

    border-radius:10px;

    background:#0f62fe;

    color:white;

    cursor:pointer;

    font-size:18px;

}

.secondary{

    background:#333;

}
.features{
    display:flex;
    justify-content:center;
    gap:30px;
    margin:80px;
    flex-wrap:wrap;
}

.card{
    width:300px;
    background:white;
    padding:25px;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    text-align:center;
}

.card h2{
    color:#0f62fe;
    margin-bottom:15px;
}

.card p{
    color:#555;
}
.upload{
    text-align:center;
    margin:80px;
}

.upload h2{
    color:#0f62fe;
    margin-bottom:20px;
}

input{
    padding:10px;
}
footer{
    background:#0f62fe;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:60px;
}