<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>AI Career Mentor</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<section class="features">

    <div class="card">
        <h2>📄 Resume Analysis</h2>
        <p>Analyze your resume using AI.</p>
    </div>

    <div class="card">
        <h2>🎯 Career Recommendation</h2>
        <p>Find the best career path.</p>
    </div>

    <div class="card">
        <h2>📚 Learning Roadmap</h2>
        <p>Personalized learning plan.</p>
    </div>

</section>
<footer>

<p>© 2026 AI Career Mentor | Built with ❤️ using Flask</p>

</footer>

<body>

    <nav>

        <h2>AI Career Mentor</h2>

        <ul>
            <li>Home</li>
            <li>Features</li>
            <li>About</li>
            <li>Contact</li>
        </ul>

    </nav>

    <section class="hero">

        <h1>Your Personal AI Career Coach</h1>

        <p>
            Get career guidance, resume analysis,
            interview preparation and learning roadmap
            powered by Artificial Intelligence.
        </p>

        <button>Analyze Resume</button>

        <button class="secondary">
            Career Roadmap
        </button>

    </section>
    <section class="upload">

    <h2>Upload Your Resume</h2>
    <form action="/upload" method="POST" enctype="multipart/form-data">

    <input type="file" name="resume" accept=".pdf">

    <br><br>

    <button type="submit">Analyze Resume</button>

</form>
</section>

</body>

</html>